* text=auto eol=lf

[attr]utf8 text working-tree-encoding=UTF-8 eol=lf

*.rs utf8
*.json utf8
*.toml utf8
*.md utf8
*.yml utf8
*.yaml utf8
*.sh utf8
*.lock utf8
.editorconfig utf8
.gitattributes utf8
.gitignore utf8
Dockerfile utf8
LICENSE utf8

*.png binary
